
<div id="resources" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="2em">
  <div fxLayout="row" fxLayoutAlign="center" class="section-panel">

      <div class="content-panel">
          <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="1em" fxFlex="80vw">
              <div fxLayout="row" fxLayoutAlign="center">
                  <span class="sub-header">Resources</span>
              </div>
              <p class="content-1">NextLabs offers several resources to help you learn more about Control Center. Please click on one of the below to see what we’ve got.</p>
          </div>

      </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">

    <!-- Video Content Section -->
    <div class="video-panel">
      <iframe src="https://nxl-videos.web.app/cc_vid" title="DAE for SAP Demo Videos" allowfullscreen="true">
      </iframe>
    </div>
  </div>

</div>

