.section-panel {
    background: #FFFFFF;

    font-family: Lato;
    font-style: normal;
    color: #36424A;
    max-width: 100%;
    padding-top: 6em;
    padding-bottom: 6em;
}

.field-full-width {
    width: 100%;
}

.form-header {
    font-weight: bold;
    font-size: 1.5em;
    line-height: normal;
}

.form-header-res {
    font-weight: bold;
    font-size: 1.5em;
    line-height: normal;
    text-align: left;
}

.content-left {
    font-weight: normal;
    font-size: 1.2em;
    line-height: normal;

    color: #36424A;
}

.img-logo {
    max-width: 100%;
}

.img-item {
    max-width: 100%;
}

.img-container {
    display: flex;
}

.img-logo-1 {
    padding-top: 2em;
    height: 6em;
}

.img-logo-2 {
    height: 4em;
}

.cancel-button {

}

.prev-button {

}

.next-button {
    color: white;
    background: #36424A;
}

.submit-button {
    color: white;
    background: #36424A;
}

